<h1>Seja Bem-Vindo!</h1>
<p><strong>Data: <%= date_us_to_br(Date.today) %></strong></p>

<ul>
  <li>
    <%= link_to "Cadastro de Moedas", coins_path %>
  </li>
</ul>

<p>
  Você está em ambiente de <strong><%= rails_environment %></strong>
</p>
<p>
  Eu sou uma variável de instância/sessão: <strong><%= @my_name %></strong>
</p>
<p>
  Você está fazendo o curso de: <strong><%= @course %></strong>
</p>
